@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #0022e0b4;
}
.container{
  width: 90%;
  margin: auto;
  padding-top: 100px;
  display: flex;
}

.left-content,.right-content{
  flex-basis: 60%;
}
.left-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(290px,0.5fr));
  grid-gap:2rem;
}
.card{
  width: 300px;
  color: rgba(35, 14, 196, 0.782);
  background-color: aquamarine;
  border-radius: 1.2rem;
  box-shadow: -4px -4px 4px 4px aqua;
  padding: 0 2.0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.right-content{
  width: 50%;
  text-align: center;
  color: #0022e0b4;
  position: fixed;
  top:100px;
  right: 10px;
  grid-template-columns: repeat(auto-fit,minmax(290px,0.5fr));
  grid-gap:2rem;
  width: 300px;
  background-color: aquamarine;
  border-radius: 1rem;
  box-shadow: 25px -15px 1px 5px aqua;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  right: 25%;
}
.right-content img{
  margin: 1.5rem;
  height: 160px;
}
.right-content h1{
  color: #0022e0b4;
  text-shadow: 5px -1px 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.abilities{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.abilities .group{
  background-color: #0022e0b4;
  color: aquamarine;
  box-shadow: 15px -20px 5px -3px rgba(0, 0, 0, 0.59);
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 1rem;
}
.base-stat{
  margin-top: 2rem;
}
.btn-group{
  display: flex;
}
.btn-group button{
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  border-radius: 8px;
  color: rgba(33, 33, 175, 0.782);
  background-color: aquamarine;
  box-shadow: -2px 2px 2px 2px aqua;
}